
.item1 { grid-area: menu; }
.item2 { grid-area: main; }
.item3 { grid-area: right; }
.item4 { grid-area: style; }
.item5 { grid-area: mytime; }

body{
  background-image: url('Images/ss133.gif');
}

.container {
  display: grid;
  justify-content: center;
  grid-template-areas:
    'menu main main style'
    'menu main main right'
    'mytime main main right';

  background-color: transparent;
  padding: 150px;
  column-gap: 15px;
  row-gap: 15px;
}
.container div {
  background-color: black;
  border: 1px solid white;
  padding: 100px;
  font-size: 30px;
  text-align: center;
}

.item2{
  width: 200px;
}

