body{
background-image:url('Images/ss133.gif');
font-family:"JetBrains Mono", monospace;
margin: 0;
padding: 0;
height: 100vh; /* 100% of the viewport height */
overflow: hidden; /* prevents scrolling */
}

.container{
  position: relative; /* add this */
max-width:1000px;
margin:120px auto;
display:grid;
gap:10px;
grid-template-columns:1fr 3fr 1fr;
grid-template-rows:auto auto;
}

.logos{
position:absolute;
top:-20px;
left:500px;
padding:0 5px;
font-size:34px;
font-weight: bold;
color: white;
z-index: 10; /* above other content */
}
@media (max-width: 900px) {
  .logos {
    display: none; /* hides the logo */
  }
}

.item1,.item2,.item3,.item4,.item5,.item6,.drawing{
border:1px solid white;
background:black;
position:relative;
padding:10px;
color:white;
}

/* Right column */
.rightColumn{
  grid-column: 3 / 4;
  grid-row: 1 / 3;

  display: grid;
  gap: 15px 0px;
  align-content: start;
}

/* Middle column */
.middleColumn{
  grid-column: 2 / 3;
  grid-row: 1 / 3;

  display: grid;
  gap: 15px 0px;          /* space between stacked boxes */
  align-content: start;

  max-height: 700px;
  overflow-y: auto;
  scrollbar-width: none;
}

/* Left column */
.leftColumn{
grid-column:1 / 2;
grid-row:1 / 3;

display:grid;
gap: 15px 0px;
align-content:start;
}

.label{
position:absolute;
top:-10px;
left:10px;
background:black;
padding:0 5px;
font-size:14px;
}

@media (max-width: 900px) {
  .logo {
    display: none;
  }
}


nav ul{
list-style:none;
padding:0;
margin:0;
}

nav a{
color:white;
text-decoration:none;
display:block;
padding:5px 5px;
font-size:12px;
}

nav a:hover{
text-decoration:underline;
color:#ffcc00;
}


.item1 ul{
  max-height: 100px;
  overflow-y: auto;
  scrollbar-width: none;
}

h2{
  margin-top: 0;
  font-size: 17px;
}

.item2, .item6{
  font-size: 12px;
  padding:5px 5px;
}


.item3 img{
width:100%;
height:auto;
display:block;
}

.drawing img{
width:100%;
height:auto;
display:block;
}
.drawing p{
  margin-top: 0px;
}

.item4{
text-align:center;
font-size: 12px;
}

.item5{
text-align:center;
}

/* CRT Overlay (covers everything including h1) */
body::before,
body::after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* clicks go through */
  z-index: 2000;        /* above all content */
}

/* Scanlines */
body::before {
  background: linear-gradient(
      rgba(18, 16, 16, 0) 50%, 
      rgba(0, 0, 0, 0.25) 50%
    ),
    linear-gradient(
      90deg, 
      rgba(255, 0, 0, 0.06), 
      rgba(0, 255, 0, 0.02), 
      rgba(0, 0, 255, 0.06)
    );
  background-size: 100% 2px, 3px 100%;
}

/* Flicker overlay */
body::after {
  background: rgba(18, 16, 16, 0.1);
  animation: flicker 0.15s infinite;
}

/* Flicker animation */
@keyframes flicker {
  0%, 100% { opacity: 0.1; }
  50% { opacity: 0.3; }
}